body {
  background-color: #222222;
}

b {
  color: red;
  font-size: 30px;
}

.HTMLsiteContent {
  font-size: 50px; 
}
h1 {
  color: rgb(255, 255, 0);
}
h2 {
  color: red;
}
p {
  color: red;
}

h3 {
  color: red;
}